.container
  %center
    %h1 Ride Requests
    %body
      %table.table
        %tr
          %th.text-center User Name
          %th.text-center Status
          %th.text-center Destination
        - @requests.each do |request|
          %tr
            %td.text-center= request.user.first_name + request.user.last_name
            %td.text-center= request.status
            %td.text-center= request.destination
