%center
  %h1 Ride Requests
  :css
    table, th, td {
      border: 1px solid black;
    }
  %body
    %table
      %tr
        %th User Name
        %th Status
        %th Destination
      - @requests.each do |request|
        %tr
          %td= request.user.first_name + request.user.last_name
          %td= request.status
          %td= request.destination
