%center
  %h1 Create New Ride Request
  = form_with(url: "/ride_requests", method: "POST") do
    = label_tag(:destination, "Destination")
    = text_field_tag(:destination)
    %br
    %br
    = submit_tag("Submit")
