.container
  %body
    %center
      %h1 Users
      %table.table
        %tr
          %th.text-center Name
          %th.text-center Contact Number
          %th.text-center Email
        - @users.each do |user|
          %tr
            %td.text-center= user.first_name + user.last_name
            %td.text-center= user.contact_number
            %td.text-center= user.email
